[submodule "src/virtual_host_service_worker"]
	path = src/virtual_host_service_worker
	url = git@github.com:anynines/virtual_host_service_worker.git
	branch = fix-haproxy_v_host_writer
[submodule "src/virtual_host_service_api"]
	path = src/virtual_host_service_api
	url = git@github.com:anynines/virtual_host_service_api.git
	branch = develop
[submodule "acceptance-tests/cipherscan"]
	path = acceptance-tests/cipherscan
	url = git@github.com:mozilla/cipherscan.git
[submodule "acceptance-tests/service-binding-checker"]
  path = acceptance-tests/service-binding-checker
  url = git@github.com:anynines/service-binding-checker.git
